@model ExpenseManagement.Models.Expense

@{
    ViewData["Title"] = "Dashboard";
}

<div class="text-center">
    <h1 class="display-4">Expense Detail</h1>
</div>
<div class="row">
    <div class="card col-md-8 mx-auto">
        <div class="card-body expense-detail-card">
            <h5 class="card-title">@Model.Description</h5>
            <h6 class="card-subtitle mb-2 text-muted">@Model.Date Status: @Model.Status</h6>
            <p class="card-text">@Model.Comments</p>
            @if (Model.Status == "New")
    {
        <a href="/Expense/Edit/@Model.ID" class="card-link">Edit</a>
        <a href="/Expense/Delete/@Model.ID" class="card-link">Delete Expense</a>
        <a href="/Expense/UpdateStatus/Review/@Model.ID" class="card-link">Mark as In Review</a>

}
            @if (Model.Status == "In Review")
    {
        <a href="/Expense/Approve/@Model.ID" class="card-link">Approved Expense</a>
        <a href="/Expense/UpdateStatus/Reject/@Model.ID" class="card-link">Reject Expense</a>
}
            @if (Model.Status == "Approved")
    {
        <a href="/Expense/UpdateStatus/Payment/@Model.ID" class="card-link">Mark as Paid</a>
}
            <a asp-controller="Expense" asp-action="Dashboard" class="card-link">Go to Dashboard</a>
        </div>
    </div>
</div>
