@{
    ViewData["Title"] = "Home";
}

<div class="row">
    <div class="card col-md-8">
        <img src="https://www.zoho.com/expense/expense-reporting/images/what-is-ze.png" class="card-img-top" alt="...">
        <div class="card-body">
            <h1 class="card-text text-dark display-4">Welcome</h1>
            <p class="card-text">Expenses should be submitted within a week of occurance.</p>
        </div>
    </div>
    <div class="card col-md-4">
        <img src="https://www.freeiconspng.com/uploads/forgot-password-icon-14.png" class="card-img-top" alt="...">
        <div class="card-body">
            <h5 class="card-title">Get Access</h5>
            <p class="card-text">Expenses should be submitted within a week of occurance.</p>
            <a asp-controller="Employee" asp-action="Signup" class="btn btn-primary col-5">Sign Up</a>
            <a asp-controller="Employee" asp-action="Login" class="btn btn-primary col-5">Sign In</a>
        </div>
    </div>
</div>
